@{
    ViewData["Title"] = "AboutUs";
    Layout="~/Views/Shared/_Layout.cshtml";
}

 <main class="main-wrapper bg-lightest-gray">

            <!-- Title Banner Start -->
            <section class="title-banner">
                <div class="container-fluid">
                    <div class="banner-wrapper">
                        <img src="~/user/assets/media/banner/left-image.png" alt="" class="banner-image1">
                        <h1 class="dark-black fw-600">About Us</h1>
                        <img src="~/user/assets/media/banner/right-image.png" alt="" class="banner-image2">
                    </div>
                </div>
            </section>
            <!-- Title Banner End -->

            <!-- About Section Start -->
            <section class="about-section py-40">
                <div class="container-fluid">
                    <div class="about-wrapper bg-white">
                        <div class="about-block mb-24">
                            <div class="row align-items-center row-gap-4">
                                <div class="col-xl-6 col-lg-7 order-sm-1 order-2">
                                    <div class="about-content">
                                        <h3 class="mb-24">Discover Our Story</h3>
                                        <p class="light-gray mb-12">
                                            Welcome to <span class="dark-black fw-500">TingStore , </span>  Your destination for top-tier smartphones that bring technology closer to your life. Founded in 2025 by Group 7, a team of passionate young tech enthusiasts in Can Tho, Vietnam, we are dedicated to providing high-quality smartphones with exceptional performance, affordable prices, and maximum customer satisfaction.
                                        </p>
                                        <p class="light-gray">
                                            From the shared vision of Group 7  <span class="dark-black fw-500"> TingStore </span>  was born with the belief that a smartphone is more than just a device—it’s a gateway to the world, a source of inspiration, and a companion in every moment. We are committed to delivering products that are not only cutting-edge but also tailored to your lifestyle, ensuring that every phone from TingStore becomes a part of your unique story.
                                        </p>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-5 order-sm-2 order-1">
                                    <div class="about-image">
                                        <img src="~/user/assets/media/about/about-1.png" alt="" class="br-20">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-block mb-24">
                            <div class="row align-items-center row-gap-4">
                                <div class="col-xl-6 col-lg-5 ">
                                    <div class="about-image">
                                        <img src="~/user/assets/media/about/about-2.png" alt="" class="br-20">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-content">
                                        <h3 class="mb-24">Our Mission and Values</h3>
                                        <p class="light-gray mb-24">

                                           Our mission is to empower you with smartphones that go beyond functionality—connecting you to the world, inspiring creativity, and reflecting your personal style. We value quality, accessibility, and the trust of our customers, striving to make every <span class="dark-black fw-500"> TingStore</span>  phone a reliable companion in your unique journey.
                                        </p>
                                        <ul>
                                            <li class="fw-500 mb-8">Connectivity</li>
                                            <li class="fw-500 mb-8">Simplicity</li>
                                            <li class="fw-500 mb-8">Diversity</li>
                                            <li class="fw-500 mb-8">Trust</li>
                                            <li class="fw-500">Excellence</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-block">
                            <div class="row align-items-center row-gap-4">
                                <div class="col-xl-6 col-lg-7 order-sm-1 order-2">
                                    <div class="about-content">
                                        <h3 class="mb-24">Our Mission and Values</h3>
                                        <p class="light-gray mb-24">
                                            At TingStore, we are dedicated to offering a wide range of cutting-edge smartphones designed to meet your every need. Whether you're seeking the latest flagship model, a budget-friendly option, or a device tailored to your lifestyle, we have the perfect phone for everyone.
                                        </p>
                                        <ul>
                                            <li class="fw-500 mb-8">Quality</li>
                                            <li class="fw-500 mb-8">Affordability</li>
                                            <li class="fw-500 mb-8">Innovation</li>
                                            <li class="fw-500 mb-8">Customer Focus</li>
                                            <li class="fw-500">Reliability</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-5 order-sm-2 order-1">
                                    <div class="about-image">
                                        <img src="~/user/assets/media/about/about-3.png" alt="" class="br-20">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End -->

            <!-- Why Choose Us -->
            <section class="whyChoose-us py-40">
                <div class="container-fluid">
                    <div class="title-row text-center mb-16">
                        <h5>Why Choose Us</h5>
                    </div>
                    <div class="row row-gap-3">
                        <div class="col-xl-3 col-lg-6 col-sm-6">
                            <div class="our-block bg-white br-10 text-center">
                                <div class="icon-block m-auto">
                                    <img src="~/user/assets/media/icons/quality.png" alt="">
                                </div>
                                <h6 class="mt-24 mb-16 fw-600">Quality Assurance</h6>
                                <p class="light-gray">
We provide top-quality smartphones tested for performance and durability every time.                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-6">
                            <div class="our-block bg-white br-10 text-center">
                                <div class="icon-block m-auto">
                                    <img src="~/user/assets/media/icons/customer.png" alt="">
                                </div>
                                <h6 class="mt-24 mb-16 fw-600">Customer-Centric</h6>
                                <p class="light-gray">
Your satisfaction drives us with personalized support for every phone purchase always.                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-6">
                            <div class="our-block bg-white br-10 text-center">
                                <div class="icon-block m-auto">
                                    <img src="~/user/assets/media/icons/wishlist-icon.png" alt="">
                                </div>
                                <h6 class="mt-24 mb-16 fw-600">Secure Shopping:</h6>
                                <p class="light-gray">
Shop with confidence knowing your phone transactions are fully protected every day with ease.                           </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-6">
                            <div class="our-block bg-white br-10 text-center">
                                <div class="icon-block m-auto">
                                    <img src="~/user/assets/media/icons/cheque.png" alt="">
                                </div>
                                <h6 class="mt-24 mb-16 fw-600">Affordable Prices</h6>
                                <p class="light-gray">
Enjoy premium smartphones at competitive prices that suit your budget effortlessly.                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Why Choose Us -->

            <!-- Team Section Start -->
           <section class="team-section py-40">
    <div class="container-fluid">
        <div class="title-row mb-16 text-center">
            <h5>Meet Our Team</h5>
        </div>
        <div class="row row-gap-3">
            <div class="col-xl col-lg-6 col-sm-6">
                <div class="team-block bg-white text-center">
                    <div class="image-box mb-24">
                        <img src="~/user/assets/media/team/person-1.png" alt="" class="br-10 w-100">
                    </div>
                    <div class="content-box">
                        <h6 class="mb-8">Emily Johnson</h6>
                        <p class="mb-16">Founder/CEO</p>
                        <p class="light-gray">
                            Lorem ipsum dolor sit amet consectetur malesuada scelerisque tortor. Nulla sit egestas proin mauris mattis viverra.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-6 col-sm-6">
                <div class="team-block bg-white text-center">
                    <div class="image-box mb-24">
                        <img src="~/user/assets/media/team/person-2.png" alt="" class="br-10 w-100">
                    </div>
                    <div class="content-box">
                        <h6 class="mb-8">Marry Charlotte</h6>
                        <p class="mb-16">Customer Service Manager</p>
                        <p class="light-gray">
                            Lorem ipsum dolor sit amet consectetur malesuada scelerisque tortor. Nulla sit egestas proin mauris mattis viverra.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-6 col-sm-6">
                <div class="team-block bg-white text-center">
                    <div class="image-box mb-24">
                        <img src="~/user/assets/media/team/person-3.png" alt="" class="br-10 w-100">
                    </div>
                    <div class="content-box">
                        <h6 class="mb-8">Sarah Davis</h6>
                        <p class="mb-16">Marketing Specialist</p>
                        <p class="light-gray">
                            Lorem ipsum dolor sit amet consectetur malesuada scelerisque tortor. Nulla sit egestas proin mauris mattis viverra.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-6 col-sm-6">
                <div class="team-block bg-white text-center">
                    <div class="image-box mb-24">
                        <img src="~/user/assets/media/team/person-4.png" alt="" class="br-10 w-100">
                    </div>
                    <div class="content-box">
                        <h6 class="mb-8">Ava Jennifer</h6>
                        <p class="mb-16">Logistics Coordinator</p>
                        <p class="light-gray">
                            Lorem ipsum dolor sit amet consectetur malesuada scelerisque tortor. Nulla sit egestas proin mauris mattis viverra.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-6 col-sm-6">
                <div class="team-block bg-white text-center">
                    <div class="image-box mb-24">
                        <img src="~/user/assets/media/team/person-4.png" alt="" class="br-10 w-100">
                    </div>
                    <div class="content-box">
                        <h6 class="mb-8">Ava Jennifer</h6>
                        <p class="mb-16">Logistics Coordinator</p>
                        <p class="light-gray">
                            Lorem ipsum dolor sit amet consectetur malesuada scelerisque tortor. Nulla sit egestas proin mauris mattis viverra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            <!-- Team Section End -->

            <!-- FAQ's Section Start -->
            <div class="faq py-40">
                <div class="container-fluid">
                    <div class="title-row mb-16 text-center">
                        <h5>Frequently Asked Questions</h5>
                    </div>
                    <div class="row row-gap-3">
                        <div class="col-xl-6 col-lg-12">
                            <div id="accordionExample">
                                <div class="faq-block">
                                    <a href="#" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true"
                                        aria-controls="faq1">What is the return policy for your products?
                                    </a>
                                    <div id="faq1" class="accordion-collapse collapse show" aria-labelledby="faq1"
                                        data-bs-parent="#accordionExample">
                                        <p class="light-gray">
                                            Return unused, undamaged phones within 14 days with original packaging and all accessories included. Contact our support team at <span class="color-primary"> exampleinfo@gmail.com </span>  or call  <span class="color-primary">+001 123 456 789 </span> to request a return label. Refunds, excluding shipping fees, will be processed within 7-10 days after inspection. Report any defects within 5 days for a replacement or refund. We aim to ensure your satisfaction with every purchase.
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-block">
                                    <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2"
                                        aria-expanded="true" aria-controls="faq2">How can I track my order?
                                    </a>
                                    <div id="faq2" class="accordion-collapse collapse " aria-labelledby="faq2"
                                        data-bs-parent="#accordionExample">
                                        <p class="light-gray">
                                            To track your order, check your confirmation email for a tracking number or link. Visit the retailer’s website, log in, and go to <span class="color-primary">My Orders </span>  to enter the details. Alternatively, use the courier’s site (e.g., USPS, UPS) with the tracking number. Contact the seller if you need further assistance!
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-block m-0">
                                    <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3"
                                        aria-expanded="true" aria-controls="faq3">How can I contact customer support?
                                    </a>
                                    <div id="faq3" class="accordion-collapse collapse " aria-labelledby="faq3"
                                        data-bs-parent="#accordionExample">
                                        <p class="light-gray">
                                        To contact Ting Store's customer support, please call +001 123 456 789 (24/7 service) or email exampleinfo@gmail.com. Our address is An Bình, Bình Thủy, Cần Thơ - 900000, Vietnam. You can also visit the "Customer Service" or "FAQs" section on our website for further assistance. We’re always here to help!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div id="accordionExample_2">
                                <div class="faq-block">
                                    <a href="#" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="true"
                                        aria-controls="faq5">Do you offer international shipping?
                                    </a>
                                    <div id="faq5" class="accordion-collapse collapse show" aria-labelledby="faq5"
                                        data-bs-parent="#accordionExample_2">
                                        <p class="light-gray">Answer: Yes, we offer international shipping to most countries. Shipping fees and
                                            delivery times vary based on the
                                            destination. You can view the shipping options and costs during the checkout process. For more
                                            information, please check
                                            our <span class="color-primary">Shipping Information</span> page. </p>
                                    </div>
                                </div>
                                <div class="faq-block">
                                    <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq6"
                                        aria-expanded="true" aria-controls="faq6">What payment methods do you accept?
                                    </a>
                                    <div id="faq6" class="accordion-collapse collapse " aria-labelledby="faq6"
                                        data-bs-parent="#accordionExample_2">
                                        <p class="light-gray"> At Ting Store, we accept a variety of payment methods to make your shopping experience as convenient as possible. You can pay using Visa, Mastercard, American Express, Discover, and Stripe. These options ensure a secure and seamless transaction for your smartphone purchases. If you have any questions, feel free to reach out to our customer support team!
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-block m-0">
                                    <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq7"
                                        aria-expanded="true" aria-controls="faq7">How do I apply a discount code to my order?
                                    </a>
                                    <div id="faq7" class="accordion-collapse collapse " aria-labelledby="faq7"
                                        data-bs-parent="#accordionExample_2">
                                        <p class="light-gray">Applying a discount code to your order at Ting Store is simple. During checkout, after adding your items to the cart, you'll see a field labeled "Discount Code" or "Promo Code." Enter your code there and click "Apply." The discount will be automatically deducted from your total. If you face any issues, our customer support team is available 24/7 at +001 123 456 789 or exampleinfo@gmail.com to assist you!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <!-- FAQ's Section End -->

            <!-- Brand Slider Start -->
            <div class="brand-sec bg-white mt-40 mb-80">
                <div class="brand-slider">
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-1.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-2.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-3.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-4.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-5.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-6.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/iphone.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-1.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-2.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-3.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-4.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-5.png" alt="">
                    </div>
                    <div class="brand-block">
                        <img src="~/user/assets/media/icons/logo-6.png" alt="">
                    </div>
                      <div class="brand-block">
                        <img src="~/user/assets/media/icons/iphone.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Brand Slider End -->


        </main>
